.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.description {
  text-align: center;
}

/* * {box-sizing: border-box;} */
.movieList {
  max-width: 940px;
  margin: left;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.title {
  grid-column: 2 ;
  grid-row: 1 ;
  text-align: left;
}

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}